<div class="container-pagina">
    <div class="container-registrar">
        <div class="container-titulo">
            <h2>Registrar-se</h2>
        </div>
        <div>
            <form>
                <div class="container-elementos-forms">
                    <mat-form-field>
                        <mat-label>CPF</mat-label>
                        <input [(ngModel)]="usuario.cpf" [value]="usuario.cpf" name="usuario.cpf" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input [(ngModel)]="usuario.nome" [value]="usuario.nome" name="usuario.nome" matInput>
                    </mat-form-field>
                </div>
                <div class="container-elementos-forms">
                    <mat-form-field class="example-full-width">
                        <mat-label>E-mail</mat-label>
                        <input [(ngModel)]="usuario.email" [value]="usuario.email" name="usuario.email" type="email" 
                            matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"placeholder="Ex. pat@example.com">                        
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                          <mat-error>Porfavor digite um e-mail válido</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                          <mat-error>E-mail é <strong>obrigatório</strong></mat-error>
                        }
                      </mat-form-field>
                    <mat-form-field>
                        <mat-label>Data de nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="usuario.dataDeNascimento" [value]="usuario.dataDeNascimento" name="usuario.dataDeNascimento">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="container-elementos-forms">
                    <mat-form-field>
                        <mat-label>Sexo</mat-label>
                        <input matInput [(ngModel)]="usuario.sexo" [value]="usuario.sexo" name="usuario.sexo">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Senha</mat-label>                        
                        <input matInput  [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.senha" [value]="usuario.senha" name="usuario.senha">                    
                    </mat-form-field>
                </div>
                <div class="container-botao-registrar-se">
                    <button type="button" mat-raised-button
                        color="primary botao-form botao-registrar-se" (click)="registrar()">Registrar-se</button>
                </div>
                <div class="container-logar-se">
                    <span>Já possui login?&nbsp;&nbsp;<a class="esqueceu-senha"
                            [routerLink]="['/login']"><b>Logar-se</b></a></span>
                </div>
            </form>
        </div>
    </div>
</div>