<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed"
        [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
        <div class="container-sidebar">
            <h2 class="sidebar-titulo">Usuário</h2>
            <div class="sidebar-container-itens">
                <mat-list>                                
                    <mat-list-item>
                        <a [routerLink]="['/admin/rotina']" class="sidebar-item">Rotina</a>
                    </mat-list-item>                                        
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a class="sidebar-item" (click)="sair()">Sair</a>
                    </mat-list-item>                                                
                    <mat-divider></mat-divider>
                </mat-list>
            </div>            
        </div>
    </mat-sidenav>
    <mat-sidenav-content [formGroup]="options">
        <div>            
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>    
</mat-sidenav-container>