<!-- <div class="container-pagina-home">
    <div class="container-menu-lateral">                
        <h4>Usuário -> Nome do usuário</h4>
        <ul>
            <li>Cadastro</li>
            <li>Alterar senha</li>
            <li>Sair</li>
        </ul>
    </div>
    <div class="container-conteudo-main">        
        Página inicial
    </div>
</div> -->
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed"
        [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
        <div class="container-sidebar">
            <h2 class="sidebar-titulo">Usuário</h2>
            <div class="sidebar-container-itens">
                <mat-list>                                
                    <mat-list-item>
                        <a [routerLink]="['/admin/rotina']" class="sidebar-item">Rotina</a>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a class="sidebar-item">Alterar senha</a>
                    </mat-list-item>                                
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a class="sidebar-item">Sair</a>
                    </mat-list-item>                                                
                    <mat-divider></mat-divider>
                </mat-list>
            </div>            
        </div>
    </mat-sidenav>
    <mat-sidenav-content [formGroup]="options">
        <div>            
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>    
</mat-sidenav-container>